<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./public/images/favicon.ico" type="image/x-icon">
  <title>Reversi</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row m-3">
      <div class="col text-center">
        <a class="btn btn-success text-nowrap" href="/about.html">About</a>
      </div>
      <div class="col text-center">
        <a class="btn btn-success text-nowrap" href="https://en.wikipedia.org/wiki/Reversi">Rules</a>
      </div>
    </div>
    <div class="row">
      2
    </div>
    <div class="row">
      3
    </div>
    <div class="row">
      4
    </div>
  </div>
</body>
</html>