body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkseagreen;
}

a {
  color: #00B7FF;
}


.hearderrow {
  background-color: #00B7FF;
  color: white;
  padding: 10px;
  text-align: center;
}